---
layout: default
---
<!-- ==================== HERO START ========================= -->
<div class="hero-area sec-spacer bg-1">
  <div class="hero-wrapper ">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <div class="hero-content w-100 px-0 py-0 mt-0">
            <h1 class="title">Increase your Customer Support performance</h1>
            <h2 class="lead">
              <strong>Stay connected, track performance, and <strong>enhance customer satisfaction</strong> effortlessly</strong>
            </h2>
<!--            <div class="action-btn"><a href="/contact" class="btn-primary btn btn-hero">CONTACT US</a></div>-->

            <div ><a href="https://app.intercom.com/oauth?client_id=2478bd95-fe1a-4b70-8853-1a3bac90a030&state="
                                                     style="align-items:center;color:#000;background-color:#fff;border:1px solid #ddd;border-radius:10px;display:inline-flex;font-family:Lato, sans-serif;font-size:20px;font-weight:600;height:60px;justify-content:center;text-decoration:none;width:275px">
              <svg xmlns="http://www.w3.org/2000/svg" style="height:30px;width:30px;margin-right:25px" viewBox="0 0 256 256" preserveAspectRatio="xMidYMid">
                <path d="M221.867 140.748a8.534 8.534 0 0 1-17.067 0V64a8.534 8.534 0 0 1 17.067 0v76.748zm-2.978 53.413c-1.319 1.129-32.93 27.655-90.889 27.655-57.958 0-89.568-26.527-90.887-27.656a8.535 8.535 0 0 1-.925-12.033 8.53 8.53 0 0 1 12.013-.942c.501.42 28.729 23.563 79.8 23.563 51.712 0 79.503-23.31 79.778-23.545 3.571-3.067 8.968-2.655 12.033.925a8.534 8.534 0 0 1-.923 12.033zM34.133 64A8.534 8.534 0 0 1 51.2 64v76.748a8.534 8.534 0 0 1-17.067 0V64zm42.668-17.067a8.534 8.534 0 0 1 17.066 0v114.001a8.534 8.534 0 0 1-17.066 0v-114zm42.666-4.318A8.532 8.532 0 0 1 128 34.082a8.532 8.532 0 0 1 8.534 8.533v123.733a8.534 8.534 0 0 1-17.067 0V42.615zm42.667 4.318a8.534 8.534 0 0 1 17.066 0v114.001a8.534 8.534 0 0 1-17.066 0v-114zM224 0H32C14.327 0 0 14.327 0 32v192c0 17.672 14.327 32 32 32h192c17.673 0 32-14.328 32-32V32c0-17.673-14.327-32-32-32z" fill="#1F8DED"/>
              </svg>
              Add to Intercom</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="hero-block hero-image1">
            <img src="{{'/assets/images/slack-intercom-2.png' | relative_url}}" alt="Icon">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==================== HERO END ========================= -->
<!-- ==================== SERVICE START ========================= -->
<div class="service-area sec-spacer">
  <div class="container">
    <div class="section-title inner-spacer text-center pt-0">
      <h2 class="title">With our Slack-Intercom 2-Way Sync and Weekly Performance Statistics</h2>
    </div>
  </div>
  <div class="service-block">
    <div class="shape"></div>
    <div class="container">
      <div class="service-wrapper">
        <div class="service-feature">
          <h3 class="title">Enhance Efficiency</h3>
          <ul class="list green">
            <li>
              <p class="text"><strong>Improve</strong> team <strong>productivity</strong> by eliminating the need to switch between different platforms, reducing manual data entry, and minimizing communication gaps. </p>
            </li>
          </ul>
        </div>
        <div class="service-media">
          <img class="themeix-scroll-effect-1" src="{{'/assets/images/productivity.png' | relative_url}}" alt="service media" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==================== SERVICE END ========================= -->
<!-- ==================== SERVICE START ========================= -->
<div class="service-area bg-1">
  <div class="service-block service-block-v">
    <div class="shape"></div>
    <div class="container">
      <div class="service-wrapper ">
        <div class="service-feature order-12">
          <h3 class="title">Two-Way Sync</h3>
          <p class="text"> </p>
          <p class="text"> </p>

          <ul class="list-2 green">
            <li>
              <p class="text"><strong>Connect</strong> your Slack and Intercom accounts to enable <strong>real-time communication</strong> and collaboration between your support team. </p>
            </li>
            <li>
              <p class="text">Interact</strong> with your customers in private channels or in a thread per customer.</p>
            </li>
          </ul>
          <p class="text"> </p>
          <p class="text"> </p>

        </div>
        <div class="service-media order-1">
          <img class="themeix-scroll-effect-2" src="{{'/assets/images/sync.png' | relative_url}}" alt="service media" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==================== SERVICE END ========================= -->
<!-- ==================== SERVICE START ========================= -->
  <div class="service-area service-block">
    <div class="shape"></div>
    <div class="container">
      <div class="service-wrapper">
        <div class="service-feature">
          <span class="badge">COMING SOON</span>
          <h3 class="title">Weekly Performance Statistics</h3>
          <ul class="list green">
            <li>
              <p class="text"><strong>Receive</strong> comprehensive reports and insights on your customer support <strong>performance</strong> to identify trends, monitor response times, and measure customer satisfaction. </p>
            </li>
            <li>
              <p class="text"><strong>Gain</strong> actionable insights from <strong>performance metrics</strong> to identify areas for improvement and enhance the overall support experience for your customers.</p>
            </li>
          </ul>
        </div>
        <div class="service-media">
          <img class="themeix-scroll-effect-2" src="{{'/assets/images/statistics.png' | relative_url}}" alt="service media" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==================== SERVICE END ========================= -->

<div class="blog-grid-area sec-spacer bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title inner-spacer text-center pt-0">
          <h2 class="title">Latest News & Updates</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="single-slider overflow-hidden">
          {% for post in site.posts %}
          <div class="item">
            {% include post-card.html %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>