---
layout: default
title: Pricing
description:
sitemap: true
---

{% include page-title.html %}
<!-- ==================== PRICE START ========================= -->
<div class="price-area sec-spacer pt-0">
  <div class="container">
    <div class="panel pricing-table border border-gray">

      <div class="pricing-plan">
        <h2 class="pricing-header">Starter</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item"> Replying from a dedicated Slack channel</li>
          <li class="pricing-features-item">Replying from a dedicated thread in the main Slack channel</li>
          <li class="pricing-features-item">Conversations Slack Reminders</li>
          <li class="pricing-features-item">_</li>
          <li class="pricing-features-item">_</li>
        </ul>
        <span class="pricing-price">$9 user/month</span>
        <a href="https://app.intercom.com/oauth?client_id=2478bd95-fe1a-4b70-8853-1a3bac90a030&state=" class="mt-4 btn btn-pricing">Start your 14-day Free Trial</a>
      </div>

      <div class="pricing-plan bg-1">
        <h2 class="pricing-header">Plus</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">Replying from a dedicated Slack channel</li>
          <li class="pricing-features-item">Replying from a dedicated thread in the main Slack channel</li>
          <li class="pricing-features-item">Conversations Slack Reminders</li>
          <li class="pricing-features-item">Conversation Ratings and Feedback</li>
          <li class="pricing-features-item">Weekly Reports</li>

        </ul>
        <span class="pricing-price-2">$13 user/month</span>
        <a href="https://app.intercom.com/oauth?client_id=2478bd95-fe1a-4b70-8853-1a3bac90a030&state=" class="mt-4 btn-primary btn btn-pricing is-featured">Start your 14-day Free Trial</a>
      </div>
    </div>
  </div>
</div>

<!-- ==================== PRICE END ========================= -->

{% include faq.html %}
