---
layout: default
title: Pricing
description: Pricing your product usually involves considering certain key factors, including pinpointing your target customer, tracking how much competitors are charging
permalink: /price
---

{% include page-title.html %}
<!-- ==================== PRICE START ========================= -->
<div class="price-area sec-spacer pt-0">
  <div class="container">
    <div class="panel pricing-table border border-gray">

      <div class="pricing-plan">
        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Starter</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 Website License</li>
          <li class="pricing-features-item">Lifetime Usage</li>
          <li class="pricing-features-item">1 Year Theme Update</li>
          <li class="pricing-features-item">1 Year Priority Support</li>
          <li class="pricing-features-item">Email Support</li>
          <li class="pricing-features-item">No Discount on Renewal</li>
        </ul>
        <span class="pricing-price">Free</span>
        <a href="#/" class="mt-4 btn btn-light bg-2 btn-pricing">Sign up</a>
      </div>

      <div class="pricing-plan">
        <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Premium</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 Website License</li>
          <li class="pricing-features-item">Lifetime Usage</li>
          <li class="pricing-features-item">1 Year Theme Update</li>
          <li class="pricing-features-item">1 Year Priority Support</li>
          <li class="pricing-features-item">Email Support</li>
          <li class="pricing-features-item">5% Discount on Renewal</li>

        </ul>
        <span class="pricing-price">$150</span>
        <a href="#/" class="mt-4 btn-primary btn btn-pricing is-featured">Free trial</a>
      </div>

      <div class="pricing-plan">
        <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Business</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">3 Website License</li>
          <li class="pricing-features-item">Lifetime Usage</li>
          <li class="pricing-features-item">1 Year Theme Update</li>
          <li class="pricing-features-item">1 Year Priority Support</li>
          <li class="pricing-features-item">Email Support</li>
          <li class="pricing-features-item">10% Discount on Renewal</li>
        </ul>
        <span class="pricing-price">$400</span>
        <a href="#/" class="mt-4 btn btn-light bg-2 btn-pricing">Free trial</a>
      </div>

    </div>
  </div>
</div>

<!-- ==================== PRICE END ========================= -->

{% include call-to-action.html %}