<!-- ==================== FAQ START ========================= -->
<div class="call-us-area  sec-spacer" id="faq">
    <div class="container">
        <hr>
        <h1 style="text-align: center">Frequently Asked Questions</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="small-feature-block text-left">
                    <h4 class="title">Can I have a free trial?</h4>
                    <p class="text"><strong>Yes! You have 14 days free trial period. Once you install Bondt on Slack, you don't need to use your credit card to start a 14-day free trial.</strong></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="small-feature-block text-left">
                    <h4 class="title">What is your refund policy?</h4>
                    <p class="text"><strong>We offer 30-days money back guarantee! Leave us a message on <a href="mailto:support@bondt.io" style="color: #FFFFFF">support@bondt.io</a> and we will get you settled.</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==================== FAQ END ========================= -->