<!-- ==================== FOOTER START ========================= -->
<footer class="footer-area border-top">
  <div class="container">
     <div class="row">
        <div class="col-sm-3">
           <div class="footer-intro">
              <a href="{{@site.url}}"><img class="footer-logo" src="{{'/assets/images/logo.png' | relative_url }}"  alt="{{@site.title}}" /></a>
              <p class="text">3899 Diane Street, City Of Commerce<br> CA 90040<br>‍
                 <br>+1 (415) 800 4284<br>
              </p>
              <p><a class="text-decoration-none " href="mailto:support@themeix.com">support@themeix.com</a></p>
           </div>
        </div>
        <div class="col-sm-9">
           <div class="row">
              <div class="col-sm-6 col-md-3">
              </div>
              <div class="col-sm-6 col-md-3">
                 <div class="footer-widget">
                    <h3 class="heading">Pages</h3>
                    <a href="/about" class="link">About</a>
                    <a href="/price" class="link">Pricing</a>
                    <a href="/blog" class="link">Blog</a>
                    <a href="/contact" class="link">Contact</a>
                 </div>
              </div>
              <div class="col-sm-6 col-md-3">
                 <div class="footer-widget">
                    <h3 class="heading">Important Links</h3>
                    <a href="#" class="link">Privacy Policy</a>
                    <a href="#" class="link">Terms & Services</a>
                    <a href="#" class="link">Advertise with us</a>
                 </div>
              </div>
              <div class="col-sm-6 col-md-3">
                 <div class="footer-widget">
                    <h3 class="heading">Tags</h3>
                    {% for tag in site.tags  limit:5 %}
                    <a href="/tag/{{tag[0]}}" class="link">{{tag[0]}}</a>
                     {% endfor %}
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="footer-bottom">
        <p class="copyright">© 2020 Bizzcon, Inc - All Rights Reserved</p>
        <div class="social-icons-small">
         <a href="https://linkedin.com/themeix" target="_blank" class="social-link"><img src="/assets/images/social-in.png" alt="logo" class="social-icon"></a>
         <a href="https://twitter.com/themeix_com" target="_blank" class="social-link"><img src="/assets/images/social-tw.svg" alt="logo" class="social-icon"></a>
         <a href="https://facebook.com/themeix" target="_blank" class="social-link"><img src="/assets/images/social-f.svg" alt="logo" class="social-icon"></a>
         <a href="https://youtube.com/themeix" target="_blank" class="social-link"><img src="/assets/images/social-yt.svg" alt="logo" class="social-icon"></a>
       </div>
     </div>
  </div>
</footer>